<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Banco de Sangre</title>
    @RenderSection("CSS", required: false)
    @Styles.Render("~/Public/CSS/appShell.css")
    @Scripts.Render("~/Public/JavaScript/appShell.js")
    @*@Html.ActionLink("Acerca de", "About", "Home") Create link*@
</head>
<body>
    <header></header>
    <main>@RenderBody()</main>
    <footer></footer>
    @RenderSection("JavaScript", required: false)
</body>
</html>