@model BancoDeSangre.ViewModels.Campaign.CampaignListViewModel
@section JavaScript{
    <script type="module" src="~/public/javascript/views/campaign/list.js"></script>
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Public/CSS/listCampaign.css">
}
<html>
<body>
    <div class='full-container'>
        @foreach (var campaign in Model.Campaigns)
        {
            <div class="row">
                <div class="column">
                    <div id="flexbox-1">
                        <div class="individual-container">
                            <div class="color-1">
                                <div class="box">
                                    <div class="body">
                                        <div class="light-sea-green">
                                            <div class="header">
                                                <h3>@campaign.Title</h3>
                                            </div>
                                        </div><br>
                                        <ul>
                                            <li class="date">
                                                <div class="bold">Fecha:</div> @campaign.Date.ToString("dd/mm/yyyy")
                                            </li>
                                            <li class="start-time">
                                                <div class="bold">Inicia: </div>@campaign.StartTime.ToString("hh:mm t")
                                                <div class="bold"> &nbsp; Finaliza:</div> @campaign.EndTime.ToString("hh:mm t")
                                            </li>
                                            <li class="location">
                                                <div class="bold">Lugar:</div> @campaign.Place
                                            </li>
                                            <li class="desc">
                                                <div class="bold">Descripción:</div> @campaign.Description
                                            </li>
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</body>
</html>